<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	<head>
		{% block head %}
			<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
			<meta charset="utf-8" />

			<!-- Fonts -->
			<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7488232/778084/css/fonts.css" />

            <!-- Icons -->
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

			<!-- Local styles -->
			<link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css" />

			{% if FEED_RSS %}
				<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
			{% endif %}
		{% endblock head %}
	</head>

	<body id="index" class="home">

		<header id="banner">
            <a href="{{ SITEURL }}/"><img class="profile" src="{{ SITEURL }}/theme/images/helmet.svg"></a>
			<h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
		</header><!-- /#banner -->

        {% if 0 %}
		<nav id="menu">
			<ul>
				{% for title, link in MENUITEMS %}
					<li><a href="{{ link }}">{{ title }}</a></li>
				{% endfor %}
				{% if DISPLAY_PAGES_ON_MENU %}
					{% for p in PAGES %}
						<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
					{% endfor %}
				{% else %}
					{% if DISPLAY_CATEGORIES_ON_MENU %}
						{% for cat, null in categories %}
							<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
						{% endfor %}
					{% endif %}
				{% endif %}
			</ul>
		</nav><!-- /#menu -->
        {% endif %}

		{% block content %}
		{% endblock %}

		<footer id="page-footer">
			<address id="about" class="vcard body">
				&copy; 2014 John Martin
                <!--
                <a class="social-link" href="http://twitter.com/johnm"><i class="fa fa-twitter"></i></a>
                <a class="social-link" href="http://www.linkedin.com/in/thatjohnmartin"><i class="fa fa-linkedin"></i></a>
                <a class="social-link" href="http://github.com/thatjohnmartin"><i class="fa fa-github"></i></a>
                -->
            </address><!-- /#about -->
		</footer><!-- /#contentinfo -->
	</body>
</html>
