<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	<head>
		{% block head %}
			<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
			<meta charset="utf-8" />

            <meta name="viewport" content="width=device-width">

			<!-- Fonts -->
            <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7488232/778084/css/fonts.css" />
            <!-- <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/fonts/style.css" type="text/css" /> -->
            
            <!-- Icons -->
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

			<!-- Local styles -->
			<link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css" />

            <!-- Favicons -->
            <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico" type="image/x-icon" />
            <link rel="apple-touch-icon" href="{{ SITEURL }}/apple-touch-icon.png" />
            <link rel="apple-touch-icon" sizes="57x57" href="{{ SITEURL }}/apple-touch-icon-57x57.png" />
            <link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/apple-touch-icon-72x72.png" />
            <link rel="apple-touch-icon" sizes="76x76" href="{{ SITEURL }}/apple-touch-icon-76x76.png" />
            <link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/apple-touch-icon-114x114.png" />
            <link rel="apple-touch-icon" sizes="120x120" href="{{ SITEURL }}/apple-touch-icon-120x120.png" />
            <link rel="apple-touch-icon" sizes="144x144" href="{{ SITEURL }}/apple-touch-icon-144x144.png" />
            <link rel="apple-touch-icon" sizes="152x152" href="{{ SITEURL }}/apple-touch-icon-152x152.png" />

			{% if FEED_RSS %}
				<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
			{% endif %}
		{% endblock head %}
	</head>

	<body id="index" class="home">

		<header id="banner">
            <a href="{{ SITEURL }}/"><img class="profile" src="{{ SITEURL }}/theme/images/helmet.svg"></a>
			<h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
		</header><!-- /#banner -->

        {% if 0 %}
		<nav id="menu">
			<ul>
				{% for title, link in MENUITEMS %}
					<li><a href="{{ link }}">{{ title }}</a></li>
				{% endfor %}
				{% if DISPLAY_PAGES_ON_MENU %}
					{% for p in PAGES %}
						<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
					{% endfor %}
				{% else %}
					{% if DISPLAY_CATEGORIES_ON_MENU %}
						{% for cat, null in categories %}
							<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
						{% endfor %}
					{% endif %}
				{% endif %}
			</ul>
		</nav><!-- /#menu -->
        {% endif %}

		{% block content %}
		{% endblock %}

		<footer id="page-footer">
            <p>
                <a href="{{ SITEURL }}/about">About Me</a>
                <a href="http://twitter.com/johnm"><i class="fa fa-twitter"></i></a>
                <a href="http://www.linkedin.com/in/thatjohnmartin">LinkedIn</a>
                <a href="http://github.com/thatjohnmartin">Github</a>
            </p>
            <p>
                &copy; 2014 John Martin
            </p><!-- /#about -->
		</footer><!-- /#contentinfo -->

		{% if USE_ANALYTICS %}
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
						m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-22676811-1', 'auto');
				ga('send', 'pageview');
			</script>
		{% endif %}

	</body>
</html>
