body {
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    color: #333;
	width: 600px;
	margin: 30px auto 20px;
}

a {
    color: #dd4231;
    text-decoration: underline;
}

#banner {
	text-align: center;
    margin-top: 36px;
    border-bottom: 1px dotted #ccc;
}

#banner img.profile {
    height: 50px;
    width: 50px;
}

#banner h1 {
	font-size: 20px;
    font-weight: 300;
	margin-top: 6px;
    margin-bottom: 36px;
}

#banner h1 a {
	color: black;
	text-decoration: none;
}

#menu {
	text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 14px;
}

#menu ul {
	list-style-type: none;
	padding-left: 0;
}

#menu ul li {
	display: inline-block;
    margin:0 3px;
}

#post-list {
	list-style-type: none;
	padding-left: 0;
    margin-top: 0;
}

#post-list > li {
    border-bottom: 1px dotted #ccc;
}
#post-list > li, .single-hentry {
    padding-top: 14px;
    padding-bottom: 20px;
}
.single-hentry {
    margin-bottom: 50px;
}

#post-list :last-child {
	border-bottom: none;
}

abbr.published {
    font-size: 12px;
    color: #aaa;
}

p {
    line-height: 1.4;
}

.paginator {
	text-align: center;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 60px;
}

#page-footer .social-links {
    text-align: center;
    margin-bottom: 60px;
}

#page-footer a.social-link {
    text-decoration: none;
    color: #ccc;
    margin-left: 5px;
    margin-right: 5px;
}

#page-footer a.social-link:hover {
    color: #333;
}

#page-footer address {
	text-align: center;
    font-size: 12px;
    color: #aaa;
    font-style: normal;
}

h1, h2 {
    font-weight: 600;
    color: #111;
}

h2 {
    font-size: 28px;
}

h2.entry-title {
    margin-bottom: 0;
}

h2.entry-title a {
    text-decoration: none;
    color: #3A414C;
}

h2.entry-title.link-post {
    font-size: 17px;
    font-weight: 300;
}

h2.entry-title.link-post a {
    color: #dd4231;
    text-decoration: underline;
}

h2.entry-title.link-post a.permalink {
    color: #eee;
    text-decoration: none;
    margin-left: 5px;
}

#post-list li:hover h2.entry-title.link-post a.permalink,
.single-hentry:hover h2.entry-title.link-post a.permalink {
    color: #ccc;
}

#post-list li h2.entry-title.link-post a.permalink:hover,
.single-hentry h2.entry-title.link-post a.permalink:hover {
    color: #dd4231;
    text-decoration: underline;
}

@media (max-width: 680px) {
    body {
        width: 480px;
    }
}

@media (max-width: 520px) {
    body {
        width: 320px;
    }
}
